:root {
  --accent: #5271ff;
  --accent-light: #5297ff;
  --sandybrown: #ffbd59; 
  --pure-white: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--accent);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: var(--accent);
}

.header a {
  color: var(--pure-white);
  text-decoration: none;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.header-logo img {
  width: 100%;
  height: 67px;
  object-fit: contain;
}

.header-menu {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  text-transform: uppercase;
  transition: backgroun-color 0.4s;
}

.header-menu-link:hover {
background-color: var(--accent-light);
}
nav a:hover {
    color: var(--sandybrown);
}